@using PagedList.Mvc;
@using PagedList;
@using ReportViewerForMvc;
@model  List<WebApplication1.ViewModel.EmployeeVM>
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Html.ReportViewer();*@

<div class="row">
    <div class="col-lg-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading">
                Employees List
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2"><a class="btn btn-primary btn-lg" href="@Url.Action("New", "Employee")"><span class="fa fa-plus"></span>   Add</a></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-bank"></i>  DUMMY</th>
                                    <th>DUMMY</th>
                                    <th>DUMMY</th>
                                    <th>DUMMY</th>
                                    <th>DUMMY</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="col-md-2">@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>@item.Salary</td>
                                            <td>DUMMY</td>
                                            <td>
                                                <i class="btn-group">
                                                    <a class="btn btn-primary" id="lnkEdit" href="#"><i class="icon_plus_alt2"></i></a>
                                                    <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                                    <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                                </i>
                                            </td>
                                        </tr>}
                                }
                            </tbody>
                        </table>
                        @Html.Partial("_Edit");
                        @*@Html.PagedListPager(Model, page => Url.Action("Index", new
                            {
                                page,
                                searchBy = Request.QueryString["searchBy"],
                                search = Request.QueryString["search"]
                            }));*@
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $("#lnkEdit").click(function () {
        $("#myModal").modal();
        $("#modelBody").html("Modal Has Clicked");

    });
</script>