@using Microsoft.AspNet.Identity;
@using System.Web.UI.WebControls;

@model WebApplication1.ViewModel.EmployeeVM

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @User.Identity.GetUserId();

    var domainsList = new SelectList(new[]
            {
                new SelectListItem { Text = "Male", Value = "1", Selected = true },
                new SelectListItem { Text = "Female", Value = "2"},
            }, "Value", "Text");
}
<style>
    th {
        text-align: center;
    }
</style>


<div class="row">
    <div class="col-lg-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading">
                Basic Info
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel">
                            <header class="panel-heading tab-bg-primary ">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#home">Personal</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#about">Academic</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#profile">Profile</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#contact">Contact</a>
                                    </li>
                                </ul>
                            </header>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="home" class="tab-pane active">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">First Name:</label>
                                                    <input type="text" class="form-control" id="txtFirst">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Father Name:</label>
                                                    <input type="text" class="form-control" id="txtMidle">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Sur Name:</label>
                                                    <input type="text" class="form-control" id="txtLAst">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Gender:</label>
                                                    @Html.DropDownListFor(x => x.Gender, domainsList, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Date Of Birth:</label>
                                                    <input type="text" class="form-control" id="txtDOB">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">CNIC:</label>
                                                    <input type="text" class="form-control" id="txtCNIC">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Religion:</label>
                                                    <input type="text" class="form-control" id="txtReligion">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Domicile:</label>
                                                    <input type="text" class="form-control" id="txtDomicile">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="usr">Address:</label>
                                                    <input type="text" class="form-control" id="txtAddress">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">State:</label>
                                                    <input type="text" class="form-control" id="txtState">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Country:</label>
                                                    @Html.DropDownListFor(x => x.Country, Model.Country as SelectList, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Postal Code:</label>
                                                    <input type="text" class="form-control" id="txtPostal">
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-2">
                                                @*<img style="border:1px solid;width:200px" src="~/Img/avatar1.jpg" />*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Home Phone:</label>
                                                    <input type="text" class="form-control" id="txtPhone">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Mobile Phone:</label>
                                                    <input type="text" class="form-control" id="txtMobile">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Email Address:</label>
                                                    <input type="text" class="form-control" id="txtMail">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button" class="btn btn-success btn-group-lg" id="btnSubmit" value="Submit" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="about" class="tab-pane">
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">First Name:</label>
                                                    <input type="text" class="form-control" id="txtFirst">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Father Name:</label>
                                                    <input type="text" class="form-control" id="txtMidle">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Sur Name:</label>
                                                    <input type="text" class="form-control" id="txtLAst">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="usr">Gender:</label>
                                                    @Html.DropDownListFor(x => x.Gender, domainsList, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div id="TableRow" class="row">
                                            <div class="col-md-12">
                                                <table id="tbl" class="table">
                                                    <tr>
                                                        <th>Institute</th>
                                                        <th>Degree</th>
                                                        <th>Year</th>
                                                        <th>Upload Marks/Pass Certificate</th>
                                                        <th><a id="lnkAdd" class="btn btn-primary btn-md" href="#"><i class="fa fa-plus"></i>  Add Row</a></th>
                                                    </tr>
                                                    <tr id="trbdy">
                                                        <td><input type="text" class="form-control txtIns" id="txtIns1"></td>
                                                        <td><input type="text" class="form-control txtDeg" id="txtDeg1"></td>
                                                        <td><input type="text" class="form-control txtYear" id="txtYear1"></td>
                                                        <td><input type="file" class="form-control" id="fileCert"></td>
                                                        @*<td><a class="btn btn-danger btn-sm" href="#"><i class="icon_close_alt2"></i></a></td>*@
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                            </div>
                                            <div class="col-md-1">
                                                <a id="lnkSave" class="btn btn-success btn-lg" href="#"><i class="fa fa-save"></i>&nbspSave</a>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="profile" class="tab-pane">Profile</div>
                                    <div id="contact" class="tab-pane">Contact</div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#txtDOB").datepicker();

        var id = 2;
        $('#lnkAdd').click(function () {
            var count = $('#tbl tr').length;
            if (count < 6) {
                $('#tbl').append("<tr id='trbdy'>" +
                                                        "<td><input type='text' class='form-control txtIns' id='txtIns" + id + "'></td>" +
                                                        "<td><input type='text' class='form-control txtDeg' id='txtDeg" + id + "'></td>" +
                                                        "<td><input type='text' class='form-control txtYear' id='txtYear" + id + "'></td>" +
                                                         "<td><input type='file' class='form-control' id='fileCert" + id + "'></td>" +
                                                        "<td><a id='lnkCancel' class='btn btn-danger btn-sm' href='#'><i class='fa fa-times'></i></a></td>" +
                                                    "</tr>");
                id++;
            }
        });

        $("#tbl").on("click", "a#lnkCancel", function () {
            $(this).closest("Tr").remove();
        });

        $("#lnkSave").click(function () {

            if ($('#txtIns1').val() == "") {
                $('#txtIns1').attr("style", "border-color: red");
                return false;
            }

            var ins = '';
            var deg = '';
            var yr = '';
            var arr = [];
            var arr2 = [];
            var arr3 = [];

            $('#tbl tr#trbdy').each(function (index, row) {
                ins = $(row).find('.txtIns').val();
                arr.push(ins);
                deg = $(row).find('.txtDeg').val();
                arr2.push(deg);
                yr = $(row).find('.txtYear').val();
                arr3.push(yr);
            });

            $.ajax({
                type: "POST",
                url: '@Url.Action("New", "Employee")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ Ins: arr, Deg: arr2, Year: arr3 }),
                success: function (datas) {
                    alert('Rows saved!');
                },
                error: function () {
                    alert("An error has occured!!!");
                }
            });
        });
    });
</script>